<h1> 311 calls </h1>
<table>

<% (0..@created.length - 1).each do |i| %>

	<tr>
			<td><%= @city[i] %></td>
			<td><%= @created[i] %></td>
			<td><%= @zip[i] %></td>
			<td><%= @complaint[i] %></td>
	</tr>

<% end %>
</table>



<div class = "results">

</div>