<div id = "main">
	<h1> Most Recent 311 calls </h1>


		<table>
			<% @results.each do |i| %>

				<%= render :partial => 'zipcodes/zipcode', :locals => {:i => i } %>

			<% end %>
		</table>
<div>
		
<div class = "new-comment">
			<% Zipcode.first.comments.each do |comment| %>

						<%= render comment %>

			<% end %>
</div>
</div>

	<%= render :partial => 'comments/form' %>

	<%= render :partial => 'zipcodes/search' %>




	<div class = "search">

	</div>

</div>