<div id = "main">
<h1> 311 calls </h1>


<table>
	<% @results.each do |i| %>

		<%= render :partial => 'zipcodes/zipcode', :locals => {:i => i } %>

	<% end %>
</table>

<%= render :partial => 'zipcodes/search' %>




<div class = "search">

</div>

</div>