<div style = "width: 400px; height: 400px; background-color: white;">

<p><%= link_to "Resident Login", new_resident_session_path %></p>
<p><%= link_to "Resident Signup", new_resident_registration_path %></p>
<p><%= link_to "Official Login", new_official_session_path %></p>
<p><%= link_to "Official Signup", new_official_registration_path %></p>
</div>