
<div class = "sixteen columns clearfix">
	<div id = "nav">
		<% if current_resident %>
		<h1> Welcome Resident </h1>
		<% elsif current_official %>
		<h1> Welcome Official </h1>
		<% end %>
		<%= link_to "Login/Signup", login_zipcodes_path %>
	</div>
</div>

<div class = "sixteen columns clearfix">

	<div class = "seven columns alpha">
		<div id="map-canvas"></div>
	</div>

	<div class = "nine columns omega" >
		<%= render 'zipcodedash' %>
	</div>	

</div>
<!-- </div>
</div> -->

<div class="sixteen columns clearfix" style = "background-color:white;">
	<%= render "zip_aggregate_data" %>
</div>
