<div class ="show-page sixteen columns">

</div>

<div class="sixteen columns">
	<%= render 'zipcodedash' %>
</div>	

<div class="sixteen columns aggregate" >
	<%= render "zip_aggregate_data" %>
</div>

<div class = "comments">
	<% @zip.comments.each do |comment| %>
				<%= render comment %>
	<% end %>
</div>


