<div class = "sixteen columns">
	<div id = "nav">
		<% if current_resident %>
		<h1> Welcome Resident </h1>
		<% elsif current_official %>
		<h1> Welcome Official </h1>
		<% end %>
		<%= link_to "Login/Signup", login_zipcodes_path %>
	</div>

	<div class="six columns alpha" style = "background-color:white;"> 
	<!-- <div style = "width: 600px; height: 1000px; background-color:white; float:left; margin-top: 100px;"> -->
		<%= render "zip_aggregate_data" %>
	</div>

	<div class = "ten columns omega">
		<%= render 'zipcodedash' %>
	</div>
</div>