

<h3>New Comment</h3>

<div class = "new-comment">


	<%= form_for(Comment.new) do |f| %>


	

	<div class = "field">
		<%= f.text_area :body %>
	</div>

	<div class = "field">
		<%= f.submit  %>
	</div>

<% end %>


</div>