<div id="zipcode" class="hidden" onclick="hidezipcode()">
</div>
<div id="sv-map">
  <svg width="400" height="800" viewBox="0 0 400 800" id="svg-doc">
      <!-- The rectangle is filled using a linear gradient paint server -->
      <!-- <rect id="z" id="bg" x="0" y="0" width="400" height="800" fill="white" stroke ="blue" stroke-width ="3" onmousedown="startDrawing();" onmouseup="stopDrawing()"/> -->
    <!-- <image x="0" y="0" width="400" height="800" xlink:href = "zipco.gif"></image>  --> 
         
        <!-- <polyline id="line" stroke= "red" stroke-width ="1" fill="none"/> -->
    <rect id="zcentral-park" class="shape" x="154" y="370"width="53" height="127" />
    
    <a xlink:href="/zipcodes/16">
      <rect id="z10024" class="shape" x="68" y="415" width="85" height="40" />
    </a>
    
    <a xlink:href="/zipcodes/17">  
      <rect id="z10023" class="shape" x="68" y="457" width="85" height="40"  /> 
    </a>

    <a xlink:href="/zipcodes/10">
      <polygon id="z10034" class="shape" points="189,156 137,122 106,121 101,129 99,155 79,155 78,105 94,79 121,67 128,82 163,61 177,62 191,80" />
    </a>

    <a xlink:href="/zipcodes/28">
        <polygon id="z10040" class="shape" points="188,167 186,155 137,122 108,122 102,126 100,153 77,156 77,166" />  
    </a>

    <a xlink:href="/zipcodes/29">
      <polygon id="z10033" class="shape" points="189,166 187,197 187,203 81,203 77,194 78,166" /> 
    </a>

    <a xlink:href="/zipcodes/23">
      <polygon id="z10032" class="shape" points="189,205 160,234 155,248 84,247 80,204" />
      
    </a>
    <a xlink:href="/zipcodes/22">
      <polygon id="z10030" class="shape" points="268,311 196,315 197,299 157,298 157,273 234,273" />
      
    </a>
    <a xlink:href="/zipcodes/6">
      <polygon id="z10031" class="shape" points="156,249 156,271 157,299 89,297 87,291 77,290 86,278 85,246" />
      
    </a>
    <a xlink:href="/zipcodes/13">
      <polygon id="z10035" class="shape" points="269,311 289,335 290,352 208,352 208,335 210,314" />
      
    </a>
    <a xlink:href="/zipcodes/4">
      <polygon id="z10027" class="shape" points="208,335 210,314 196,313 196,300 87,297 86,290 74,288 67,295 68,355 93,354 95,363 123,363 121,355 132,355 131,335" />
      
    </a>
    <a xlink:href="/zipcodes/27">
      <rect id="z10026" class="shape" x="132" y="335" width="76" height="36" />
      
    </a>

    <a xlink:href="/zipcodes/1">
      <polygon id="z10039" class="shape" points="189,207 204,238 233,272 155,272 155,249 161,234" />
      
    </a>
    <a xlink:href="/zipcodes/3">
      <polygon id="z10025" class="shape" points="68,355 94,357  94,365 122,364 121,356 131,355 132,370 131,368 153,370 153,415 67,413"/>
      
    </a>
    <a xlink:href="/zipcodes/2">
      <polygon id="z10029" class="shape" points="209,354 290,353 295,387 289,404 209,404" />
      
    </a>
    <a xlink:href="/zipcodes/8">
      <polygon id="z10128" class="shape" points="209,404 285,405 294,430 208,430" />
      
    </a>
    <a xlink:href="/zipcodes/15">
      <polygon id="z10028" class="shape" points="207,430 293,429 300,451 208,450" />
      
    </a>
    <a xlink:href="/zipcodes/24">
      <polygon id="z10021" class="shape" points="299,451 287,497 207,494 208,450" />
      
    </a>
    <a xlink:href="/zipcodes/31">
      <polygon id="z10022" class="shape" points="206,494 207,530 283,530 283,507 287,495" />
      
    </a>
    <a xlink:href="/zipcodes/47">
      <polygon id="z10020" class="shape" points="182,516 182,533 206,534 206,534 205,517"/>
      
    </a>
    <a xlink:href="/zipcodes/35">
      <polygon id="z10019" class="shape" points="67,533 205,533 206,499 67,496" />
      
    </a>
    <a xlink:href="/zipcodes/7">
      <polygon id="z10036" class="shape" points="65,533 66,552 175,552 177,547 206,546 206,533" />
    </a>
    <a xlink:href="/zipcodes/25">
      <polygon id="z10018" class="shape" points="65,583 65,552 175,552 176,545 207,548 206,586" />
      
    </a>
    <a xlink:href="/zipcodes/39">
      <polygon id="z10017" class="shape" points="205,530 284,532 280,563 207,563" />
      
    </a>
    <a xlink:href="/zipcodes/33">
      <polygon id="z10016" class="shape" points="205,600 281,601 278,586 281,563 206,564" />
      
    </a>
    <a xlink:href="/zipcodes/26">
      <polygon id="z10001" class="shape" points="65,584 64,604 65,609 176,610 177,601 204,600 205,586" />
      
    </a>
    <a xlink:href="/zipcodes/38">
      <polygon id="z10011" class="shape" points="71,629 68,610 175,610 177,627 198,630 198,655 129,654 110,630" />
      
    </a>
    <a xlink:href="/zipcodes/18">
      <polygon id="z10010" class="shape" points="279,602 292,628 177,627 177,600" />
      
    </a>
    <a xlink:href="/zipcodes/20">
      <polygon id="z10003" class="shape" points="199,654 226,656 226,671 253,670 253,630 199,630" />
      
    </a>
    <a xlink:href="/zipcodes/9">
      <polygon id="z10009" class="shape" points="313,671 255,671 254,631 293,629" />
      
    </a>
    <a xlink:href="/zipcodes/21">
      <polygon id="z10014" class="shape" points="72,629 110,630 129,655 138,678 89,694" />
      
    </a>
    <a xlink:href="/zipcodes/14">
      <polygon id="z10012" class="shape" points="129,653 146,696 225,697 226,656" />
      
    </a>
    <a xlink:href="/zipcodes/12">
      <polygon id="z10002" class="shape" points="226,672 314,672 315,698 292,712 252,727 222,746 217,724 226,717" />
      
    </a>
    <a xlink:href="/zipcodes/19">
      <polygon id="z10013" class="shape" points="88,695 137,680 147,697 225,697 224,716 131,716 129,724 95,724" />
      
    </a>
    <a xlink:href="/zipcodes/11">
      <polygon id="z10007" class="shape" points="210,717 206,725 131,743 117,743 116,740 112,739 111,733 107,733 107,739 98,738 96,725 129,724 130,715" />
    </a>
    <a xlink:href="/zipcodes/49">
      <polygon id="z10048" class="shape" points="104,751 98,738 100,743 97,738 106,738 106,733 111,733 112,738 115,739 117,740 115,750 104,753" />
      
    </a>
    <a xlink:href="/zipcodes/30">
      <polygon id="z10038" class="shape" points="225,716 217,723 223,746 192,765 144,748 146,740 205,725 211,716" />
      
    </a>
    <a xlink:href="/zipcodes/40">
      <polygon id="z10005" class="shape" points="191,765 176,775 145,761 145,757 140,755 145,748" />
      
    </a>
    <a xlink:href="/zipcodes/43">
      <polygon id="z10006" class="shape" points="114,771 135,768 146,740 132,743 115,743 115,751 103,752" />
      
    </a>
    <a xlink:href="/zipcodes/34">
      <polygon id="z10004" class="shape" points="116,771 134,768 140,755 146,758 145,761 174,777 145,797 123,791 115,772" />
      
    </a>
    <a xlink:href="/zipcodes/52">
      <polygon id="z10044" class="shape" points="294,529 294,517 310,442 317,452 317,499 302,531" />
    </a>

  </svg>
</div>

<div class="intro">
  <p>Click on an area of the map for more info</p>
</div>