// Place all the styles related to the zipcodes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	font: 18px/21px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;
}

#map-canvas {
	height: 300px;
	width: 100%;
}

.dashboard {
	text-align: center;
	z-index: 0;
}

.dashboard h2 {
	margin-bottom: 1em;
}
.dashboard table{
	margin: 0 auto 0 auto;
}

.dashboard tr{
	height: 25px;
}
	.dashboard th {
		font-weight: bold;
	}

		// .dashboard td:nth-child(1) {
		// 	width: 100px;
		// }

		// .dashboard td:nth-child(2) {
		// 	width: 270px;
		// }

		// .dashboard td:nth-child(3) {
		// 	width: 140px;
		// }



.search {
	width: 210px;
	margin: 0 auto;
	color: black;
	float: left;
}

.search input {
	vertical-align: middle;
}

#nav{
	height: 100px;
	// background-color: #8badec;
	z-index: 9999;
	text-align:center;
	width: 99%;
}

.animation {
	color: red;
}

#aggregate-data-title {
	text-align: center;
	margin-top: 1em;
}

.aggregate {
	margin-top: 2em;
}

.chart-title {
	text-align: center;
}

.logout {
	margin-right: -200px;
}

.show-page {
	background-color: white;
	padding: 20px 10px 0 10px;
}
