<!DOCTYPE html>
<html>
<head>
  <title>NYCdata</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCHUzVeRW_rNmOONKRJ01gbVWo_zCmSaOA&sensor=false"></script>
  <link rel="stylesheet" href="http://cdn.oesmith.co.uk/morris-0.4.2.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
  <script src="http://cdn.oesmith.co.uk/morris-0.4.2.min.js"></script>

  <style type="text/css"><![CDATA[
      
      polygon{
        fill:#fbfbfb;
        stroke:black;
        stroke-width:.5;
      }
     
      polygon{
        fill:#fbfbfb;
        stroke:black;
        stroke-width:.5;
      }
       rect{
        fill:#fbfbfb;
        stroke:black;
        stroke-width:.5;
      }
    ]]></style>

</head>
<body>

<%= yield %>

</body>
</html>
